{:deps {org.clojure/clojure {:mvn/version "1.10.0"}
        com.taoensso/timbre {:mvn/version "4.10.0"}
        byte-streams {:mvn/version "0.2.5-alpha2"}
        cheshire {:mvn/version "5.8.1"}
        aleph {:mvn/version "0.4.7-alpha4"}
        automat {:mvn/version "0.2.4"}
        gloss {:mvn/version "0.2.6"}
        danlentz/clj-uuid {:mvn/version "0.1.7"}
        buddy/buddy-core {:mvn/version "1.5.0"}
        mockery {:mvn/version "0.1.4"}
        eftest {:mvn/version "0.5.4"}
        org.clojure/core.async {:mvn/version "0.4.490"}}

 :paths ["src", "test"]
 :aliases {:nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.20.0"}
                                nrepl/nrepl       {:mvn/version "0.5.3"}}

                   :main-opts ["-m" "nrepl.cmdline"]}

           :rebel {:extra-paths ["dev" "test"]
                   :extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.3"}
                                org.clojure/tools.namespace {:mvn/version "0.2.11"}}
                   :main-opts  ["-m" "rebel-readline.main"]}
           :bench {:extra-deps {criterium {:mvn/version "0.4.4"}}}
           :socket {:jvm-opts ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]}
           :test {:extra-paths   ["test"]
                  :extra-deps {eftest {:mvn/version "0.5.2"}
                               mockery {:mvn/version "0.1.4"}}
                  :main-opts ["-e" "(require,'[eftest.runner,:refer,[find-tests,run-tests]]),(run-tests,(find-tests,\"test\"))"]}
                  ;:main-opts ["-e" "(require,'[eftest.runner,:refer,[find-tests,run-tests]]),(run-tests,(find-tests,\"test\"),{:report,eftest.report.pretty/report,:capture-output?,false})"]}
           :native-image
           {:main-opts ["-m clj.native-image ipmi-aleph.core"
                        "--report-unsupported-elements-at-runtime"
                        "--enable-url-protocols=http,https"
                        "-Dclojure.compiler.direct-linking=true"
                        "-H:ReflectionConfigurationFiles=reflection_config.json"]
            :extra-deps {clj.native-image {:git/url "https://github.com/taylorwood/clj.native-image.git"
                                           :sha "d97f25aa153e0f94139f5d03e60a345151815d4d"}}}

           :uberjar
           {:extra-deps
            {org.clojure/tools.cli {:mvn/version "0.3.7"}
             org.clojure/tools.deps.alpha {:mvn/version "0.5.435"}
             org.clojure/tools.namespace  {:mvn/version "0.2.11"}
             db/driver {:local/root "/mnt/jamastore1/WIP/cambada/target/cambada-1.0.0-SNAPSHOT.jar"}}
            :main-opts ["-m" "cambada.uberjar"
                        "-m" "githubid.core"]}}}
